*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;

}


:root {
    --dark-grey: hsl(0, 0%, 20%);
    --medium-grey: hsl(0, 0%, 40%);
    --light-grey: hsl(0, 0%, 60%);
    --white-color:#fff;
    --background-image:url('images/dark-violet');
    }

body{
    background-color:#140624;
    color: var(--white-color)
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("/images/dark-violet.jpg");
}
.container{
    padding: 10px 10% ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: wrap;
   
}
.myBrand{
    height: 140px;
    width: 140px;
    border-radius:50px ;
   
    

}
nav  ul li {
    display: inline-block;
    list-style: none;
    margin: 10px  20px;
     
}
nav  ul li a{
    color: var(--white-color);
    text-decoration: none;
    position: relative;
    font-size: 18px;
}
nav  ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    box-shadow: #0a0a81;
    bottom: -6px;
    transition: .6s;
}
nav  ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top:20% ;
    font-size: 30px;
    .h1{
        font-size: 60px;
        margin-top: 200px;
       
       
        
       
    }
    
}
.header-text h1 span{
    color: rgb(206, 0, 206);

}
/*-------------------about*/
#about{
    padding: 80px 0;
    color: #ababab

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis:35% ;
}
.about-col-1 img {
    width: 100%;
    border-radius: 20px;
    

}
.about-col-2{
    flex-basis: 60%;
}
.about-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-tiltes{
    display: flex;
    margin: 20px  0px 10px;
    


}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    justify-content: space-between;
    position: relative;

   
   
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left:0;
    bottom:-8px ;
    transition: .5s;



}
.active-link::after{
    width: 25%;

}
    .tab-contents ul li {
    list-style: none;
     margin: 10px 0px ;
     font-size: 10px;


}
.tab-contents ul li span{
    color: rgb(142, 60, 159);
    
}
.tab-contents{
    display: none;
}
.active-tab{
    display: block;

}
     